* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    background-color: #8CC0DE;
}

#start{
    min-height: 100rem;
}
#contact{
    background-color: white;
    min-height: 70rem;
}

#end{
    background-color: #8CC0DE;
    min-height: 100rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FAF0D7;
}


.nav-bar li {
    display: inline-block;
    margin: 1.5rem;
    font-size: 1.4rem;
  }

.intro{
    margin: 3.5rem;
    margin-top: 5rem;
}

.intro h1{
    font-size: 3rem;
}

.intro p{
    font-size: 1.2rem;
    font-size: 2.5rem;
}

.top-container{
    margin: 3rem;
}


.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}

.left-data{
    min-height: 40rem;
    min-width: 40rem;
    background-color: #B4E197;
    /* margin-left: 7rem; */
}

.right-data{
    flex-wrap:wrap;
    min-height: 40rem;
    min-width: 40rem;
    background-color: #F1DDBF;
    
}

.info-left{
    margin: 4.5rem 2rem;
    font-size: 1.3rem;
    /* text-align: right; */
}

.info-left img{
    /* display: inline block; */
    width: 3rem;
}

.info-top{
    margin-left: 2rem;
    size: 4em;
    margin-top: 2.5rem;
}

.text-info-head{
    font-size: 1.4rem;
}
.text-info{
    padding: 10px 10px;
    margin: 2em 1em;
    margin-left: 50px;
}

.text-info-right{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.form-right{
    margin-top: 20px;
    padding: 10px 5px;
    margin-left: 30px;
    font-size: 1.5rem;
    
}

.container-end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.end-top{
    font-size: 3rem;
    text-align: center;
    padding: 50px 50px;
}

.socials{
    text-align: center;
    padding: 50px 50px;
}

.icon-view{
    padding: 0px 5px;
}

.end-lines{
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
}

